@font-face {
	font-family: badaboom;
	src: url(./media/fonts/BADABB__.woff);
}

/* Global */

:root {
	--background-color: black;
}

body {
	margin: 0;
	background-color: var(--background-color);
}




/* Video */

video {
	display: block;
	margin: auto;
	max-height: 650px;
}

video:focus {
	outline: none;
}






/* Closed Captions */

#captions-container {
	height: calc(100vh - 650px);
	display: grid;
}

#captions {
	color: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	line-height: 40px;
	margin: 0;
	/* "start" if video has horizontal black bars, otherwise "center" */
	align-self: start;
}






/* Classes */

#captions span.loudEnvironmentalSound {
	font-family: "badaboom", Arial, Helvetica, sans-serif;
	font-size: 50px;
}








/* CC Animations */

#captions[captions-id=CC2] {
	animation: CC2decrease 5000ms linear forwards, CC2shake 500ms infinite linear forwards, CC2fadeOut 6000ms cubic-bezier(.64, .11, .98, .77) forwards;
	font-size: 50px;
}

@keyframes CC2decrease {
	from {
		transform: scale(1);
		font-size: 50px;
	}

	to {
		transform: scale(.1);
		font-size: 20px;
	}
}

@keyframes CC2shake {

	10%,
	90% {
		transform: translate3d(-1px, 5px, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, -2px, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

@keyframes CC2fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}




#captions[captions-id=CC3] {
	animation: fadeInOut 500ms infinite linear forwards;
}

@keyframes fadeInOut {

	0%,
	100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}




#captions[captions-id=CC4] {
	animation: CC4decrease 5000ms 0ms linear forwards, CC4shake 500ms 0ms infinite linear forwards, CC4fadeOut 4500ms 0ms cubic-bezier(.64, .11, .98, .77) forwards, CC4moveLeft 500ms 4200ms ease-out forwards;
	font-size: 50px;
}

@keyframes CC4decrease {

	from {
		transform: scale(.1);
		font-size: 20px;
	}

	to {
		transform: scale(1);
		font-size: 50px;
	}
}

@keyframes CC4shake {

	10%,
	90% {
		transform: translate3d(-1px, 5px, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, -2px, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}


@keyframes CC4fadeOut {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes CC4moveLeft {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100vw);
	}
}




#captions[captions-id=CC5] {
	font-family: "badaboom", Arial, Helvetica, sans-serif;
	font-size: 40px;
}




[captions-id=CC6] span {
	display: block;
	width: 100%;
	text-align: center;
	position: relative;
}

#captions[captions-id=CC6] span:nth-of-type(1) {
	animation: show 1800ms linear forwards;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	font-size: 40px;
	text-transform: uppercase;
}

#captions[captions-id=CC6] span:nth-of-type(2) {
	animation: show 1500ms 1800ms linear forwards;
	left: -100vw;
	top: -40px;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	font-size: 40px;
	text-transform: uppercase;
}

#captions[captions-id=CC6] span:nth-of-type(3) {
	animation: show 1500ms 3300ms linear forwards;
	left: -100vw;
	top: -80px;
}

#captions[captions-id=CC6] span:nth-of-type(4) {
	animation: show 10000ms 3800ms linear forwards;
	left: -100vw;
	top: -70px;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	font-size: 40px;
	text-transform: uppercase;
}

@keyframes show {

	0%,
	99.9999% {
		left: 0;
	}

	100% {
		left: -100vw;
	}
}

#captions[captions-id=CC6] span.radio:nth-of-type(1)::before,
#captions[captions-id=CC6] span.radio:nth-of-type(1)::after {
	content: "IT'S THE FORDS THAT ARE THE CARS TO BEAT,";
}

#captions[captions-id=CC6] span.radio:nth-of-type(2)::before,
#captions[captions-id=CC6] span.radio:nth-of-type(2)::after {
	content: "CLAIMING THE TOP THREE POSITIONS...";
}

#captions[captions-id=CC6] span.radio:nth-of-type(4)::before,
#captions[captions-id=CC6] span.radio:nth-of-type(4)::after {
	content: "LED BY KEN MILES IN FORD NUMBER 1...";
}

#captions[captions-id=CC6] span.radio::before {
	text-shadow: 1px 0 blue;
	color: white;
	background: black;
	overflow: hidden;
	animation: horizontal-disorder-og 15s infinite linear alternate-reverse;
	position: absolute;
	top: 15px;
	left: calc(50% + 15px);
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#captions[captions-id=CC6] span.radio::after {
	text-shadow: -1px 0 red;
	color: white;
	background: black;
	overflow: hidden;
	animation: vertical-disorder 2s infinite linear alternate-reverse;
	position: absolute;
	top: 15px;
	left: calc(50% + 15px);
	margin-right: -50%;
	transform: translate(-50%, -50%);
}


/* Taken from https://codepen.io/chriscoyier/pen/xxKRQRm?editors=1100 */
@keyframes vertical-disorder-og {
	0% {
		clip-path: inset(79% 0 10% 0);
	}

	5% {
		clip-path: inset(73% 0 10% 0);
	}

	10% {
		clip-path: inset(41% 0 27% 0);
	}

	15% {
		clip-path: inset(20% 0 52% 0);
	}

	20% {
		clip-path: inset(100% 0 1% 0);
	}

	25% {
		clip-path: inset(82% 0 3% 0);
	}

	30% {
		clip-path: inset(28% 0 63% 0);
	}

	35% {
		clip-path: inset(75% 0 11% 0);
	}

	40% {
		clip-path: inset(100% 0 1% 0);
	}

	45% {
		clip-path: inset(52% 0 35% 0);
	}

	50% {
		clip-path: inset(83% 0 7% 0);
	}

	55% {
		clip-path: inset(59% 0 24% 0);
	}

	60% {
		clip-path: inset(90% 0 1% 0);
	}

	65% {
		clip-path: inset(78% 0 6% 0);
	}

	70% {
		clip-path: inset(46% 0 53% 0);
	}

	75% {
		clip-path: inset(23% 0 34% 0);
	}

	80% {
		clip-path: inset(29% 0 66% 0);
	}

	85% {
		clip-path: inset(9% 0 60% 0);
	}

	90% {
		clip-path: inset(48% 0 50% 0);
	}

	95% {
		clip-path: inset(30% 0 27% 0);
	}

	100% {
		clip-path: inset(14% 0 78% 0);
	}
}

@keyframes vertical-disorder {
	0% {
		clip-path: inset(40% 0 5% 0);
	}

	5% {
		clip-path: inset(36% 0 5% 0);
	}

	10% {
		clip-path: inset(20% 0 13% 0);
	}

	15% {
		clip-path: inset(10% 0 26% 0);
	}

	20% {
		clip-path: inset(50% 0 1% 0);
	}

	25% {
		clip-path: inset(41% 0 1% 0);
	}

	30% {
		clip-path: inset(14% 0 31% 0);
	}

	35% {
		clip-path: inset(37% 0 5% 0);
	}

	40% {
		clip-path: inset(50% 0 1% 0);
	}

	45% {
		clip-path: inset(26% 0 17% 0);
	}

	50% {
		clip-path: inset(41% 0 3% 0);
	}

	55% {
		clip-path: inset(30% 0 12% 0);
	}

	60% {
		clip-path: inset(45% 0 1% 0);
	}

	65% {
		clip-path: inset(39% 0 3% 0);
	}

	70% {
		clip-path: inset(23% 0 26% 0);
	}

	75% {
		clip-path: inset(11% 0 17% 0);
	}

	80% {
		clip-path: inset(14% 0 33% 0);
	}

	85% {
		clip-path: inset(4% 0 30% 0);
	}

	90% {
		clip-path: inset(24% 0 25% 0);
	}

	95% {
		clip-path: inset(15% 0 13% 0);
	}

	100% {
		clip-path: inset(7% 0 39% 0);
	}
}

/* Taken form https://codepen.io/chriscoyier/pen/xxKRQRm?editors=1100 */
@keyframes horizontal-disorder-og {
	0% {
		clip-path: inset(48% 0 4% 0);
	}

	5% {
		clip-path: inset(11% 0 75% 0);
	}

	10% {
		clip-path: inset(80% 0 3% 0);
	}

	15% {
		clip-path: inset(4% 0 26% 0);
	}

	20% {
		clip-path: inset(85% 0 4% 0);
	}

	25% {
		clip-path: inset(85% 0 7% 0);
	}

	30% {
		clip-path: inset(13% 0 21% 0);
	}

	35% {
		clip-path: inset(83% 0 18% 0);
	}

	40% {
		clip-path: inset(22% 0 55% 0);
	}

	45% {
		clip-path: inset(85% 0 12% 0);
	}

	50% {
		clip-path: inset(79% 0 22% 0);
	}

	55% {
		clip-path: inset(7% 0 40% 0);
	}

	60% {
		clip-path: inset(70% 0 26% 0);
	}

	65% {
		clip-path: inset(17% 0 31% 0);
	}

	70% {
		clip-path: inset(17% 0 45% 0);
	}

	75% {
		clip-path: inset(12% 0 11% 0);
	}

	80% {
		clip-path: inset(57% 0 20% 0);
	}

	85% {
		clip-path: inset(62% 0 32% 0);
	}

	90% {
		clip-path: inset(62% 0 12% 0);
	}

	95% {
		clip-path: inset(26% 0 66% 0);
	}

	100% {
		clip-path: inset(56% 0 45% 0);
	}
}

@keyframes horizontal-disorder {
	0% {
		clip-path: inset(24% 0 2% 0);
	}

	5% {
		clip-path: inset(5% 0 37% 0);
	}

	10% {
		clip-path: inset(40% 0 1% 0);
	}

	15% {
		clip-path: inset(2% 0 13% 0);
	}

	20% {
		clip-path: inset(42% 0 2% 0);
	}

	25% {
		clip-path: inset(42% 0 3% 0);
	}

	30% {
		clip-path: inset(6% 0 10% 0);
	}

	35% {
		clip-path: inset(41% 0 9% 0);
	}

	40% {
		clip-path: inset(11% 0 27% 0);
	}

	45% {
		clip-path: inset(42% 0 6% 0);
	}

	50% {
		clip-path: inset(40% 0 11% 0);
	}

	55% {
		clip-path: inset(3% 0 20% 0);
	}

	60% {
		clip-path: inset(35% 0 13% 0);
	}

	65% {
		clip-path: inset(8% 0 15% 0);
	}

	70% {
		clip-path: inset(8% 0 22% 0);
	}

	75% {
		clip-path: inset(6% 0 5% 0);
	}

	80% {
		clip-path: inset(28% 0 10% 0);
	}

	85% {
		clip-path: inset(31% 0 16% 0);
	}

	90% {
		clip-path: inset(31% 0 6% 0);
	}

	95% {
		clip-path: inset(13% 0 33% 0);
	}

	100% {
		clip-path: inset(28% 0 22% 0);
	}
}





#captions[captions-id=CC7] span {
	position: relative;
	display: block;
}

#captions[captions-id=CC7] span.alarm {
	font-family: "badaboom";
	font-size: 70px;
}

#captions[captions-id=CC7] span:nth-of-type(1) {
	animation: alarm 500ms 0ms linear infinite, hide 1ms 1500ms forwards;
}

#captions[captions-id=CC7] span:nth-of-type(2) {
	animation: appear 1ms 4000ms forwards, hide 1ms 5000ms forwards;
	opacity: 0;
	top: 10px;
}

#captions[captions-id=CC7] span:nth-of-type(3) {
	animation: appear 1ms 3600ms forwards, alarm 500ms 3600ms linear infinite, hide 1ms 5600ms forwards;
	opacity: 0;
	top: -80px;
}

#captions[captions-id=CC7] span:nth-of-type(4) {
	animation: appear 1ms 5200ms forwards, hide 1ms 6200ms forwards;
	opacity: 0;
	top: -80px;
}

#captions[captions-id=CC7] span:nth-of-type(5) {
	animation: appear 1ms 7000ms forwards, hide 1ms 8000ms forwards;
	opacity: 0;
	top: -120px;
}

#captions[captions-id=CC7] span:nth-of-type(5)::before {
	content: "2x";
	font-size: 40px;
	font-family: "badaboom";
	margin-right: 10px;
}

#captions[captions-id=CC7] span:nth-of-type(6) {
	animation: appear 1ms 7800ms forwards, alarm 500ms 7800ms linear infinite, hide 1ms 9800ms forwards;
	opacity: 0;
	top: -200px;
}

#captions[captions-id=CC7] span:nth-of-type(7) {
	animation: appear 1ms 12000ms forwards, alarm 500ms 12000ms linear infinite, hide 1ms 13000ms forwards;
	opacity: 0;
	top: -240px;
}

@keyframes hide {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes appear {

	0%,
	99.999% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes alarm {
	0% {
		transform: translate(2px, 2px) rotate(0deg);
	}

	10% {
		transform: translate(-2px, -4px) rotate(-1deg);
	}

	20% {
		transform: translate(-6px, 0px) rotate(1deg);
	}

	30% {
		transform: translate(6px, 4px) rotate(0deg);
	}

	40% {
		transform: translate(2px, -2px) rotate(1deg);
	}

	50% {
		transform: translate(-2px, 4px) rotate(-1deg);
	}

	60% {
		transform: translate(-6px, 2px) rotate(0deg);
	}

	70% {
		transform: translate(6px, 2px) rotate(-1deg);
	}

	80% {
		transform: translate(-2px, -2px) rotate(1deg);
	}

	90% {
		transform: translate(2px, 4px) rotate(0deg);
	}

	100% {
		transform: translate(2px, -4px) rotate(-1deg);
	}