@font-face {
	font-family: badaboom;
	src: url(./media/fonts/BADABB__.woff);
}

/* Global */

:root {
	--background-color: black;
}

body {
	margin: 0;
	background-color: var(--background-color);
}




/* Video */

video {
	display: block;
	margin: auto;
	max-height: 650px;
}

video:focus {
	outline: none;
}






/* Closed Captions */

#captions-container {
	height: calc(100vh - 650px);
	display: grid;
}

#captions {
	color: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 40px;
	margin: 0;
	/* "start" if video has horizontal black bars, otherwise "center" */
	align-self: start;
}






/* Classes */

#captions span.loudEnvironmentalSound {
	font-family: "badaboom", Arial, Helvetica, sans-serif;
	font-size: 50px;
}








/* CC Animations */