body {
	margin: 25px 0 0 0;
	background-color: black;
}

video {
	display: block;
	margin: auto auto 20px auto;
}

video:focus {
	outline: none;
}

#captions-container {
	height: fit-content;
	width: fit-content;
	max-width: 70vw;
	margin: auto;
}

#captions {
	color: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	margin: 0;
}



/* TODO: dit is een test en kan weggehaald worden */
/* Animation test */
[captions-id=CC2] {
	animation: test 5000ms linear;
}

@keyframes test {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}