body {
	margin: 0;
	background-color: black;
}

video {
	background: black;
	width: 100vw;
	/* Make video fill the screen whilst keeping aspect ration intact: 
	height:width ratio = 9/16 = .5625  */
	height: 56.25vw;
	max-height: 100vh;
	/* 16/9 = 1.778 */
	max-width: 177.78vh;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

video:focus {
	outline: none;
}